# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

u2CEM/mech_model/~$3d_model_psas4m213002xxx.SLDPRT
u2CEM/mech_model/~$92125A132_18-8 Stainless Steel Hex Drive Flat Head Screw.SLDPRT
u2CEM/mech_model/~$94459A130_Heat-Set Inserts for Plastic.SLDPRT
u2CEM/mech_model/~$94500A221_316 Stainless Steel Button Head Hex Drive Screws.SLDPRT
u2CEM/mech_model/~$95893A175_Flat Head Thread-Forming Screws for Plastic(1).SLDPRT
u2CEM/mech_model/~$95893A175_Flat Head Thread-Forming Screws for Plastic(1).SLDPRT
u2CEM/mech_model/~$95893A175_Flat Head Thread-Forming Screws for Plastic(1).SLDPRT
u2CEM/mech_model/~$95893A175_Flat Head Thread-Forming Screws for Plastic(1).SLDPRT
u2CEM/mech_model/~$CEM_EM_LEFT_COVER.SLDPRT
u2CEM/mech_model/~$CEM_EM_RIGHT_COVER_MIRROR.SLDPRT
u2CEM/mech_model/~$CEM_NIC.SLDPRT
u2CEM/mech_model/~$CEM_NIC_SUPPORT.SLDPRT
u2CEM/mech_model/~$PCIE_064_02_S_D_EMS2_BG.sldasm
u2CEM/mech_model/~$PCIE_064_02_S_D_EMS2_BG_3.sldprt
u2CEM/mech_model/~$PCIE_064_02_S_D_EMS2_BG_5.sldprt
u2CEM/mech_model/~$StarTech_intel_nic.SLDPRT
u2CEM/mech_model/~$StarTech_intel_nic_support.SLDPRT
u2CEM/mech_model/~$U2_CEM_EM.SLDPRT
u2CEM/mech_model/~$U2_CEM_EM_ASY.SLDASM
u2CEM/mech_model/CEM_EM_COVER_SIMPLIFIED.STL
u2CEM/mech_model/CEM_EM_RIGHT_COVER_MIRROR_SIMPLE_HONEYCOMB.SLDPRT
